build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.g.dart
*.freezed.dart
windows/flutter/ephemeral/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
android/.gradle/
android/app/build/
android/key.properties
android/app/*.keystore
android/app/*.jks
ios/Pods/
ios/.symlinks/
.idea/
*.iml

.vercel
